SECRET_KEY_DJANGO=
SITE=
SITE_URL_API=
DEBUG_DJANGO=
ALLOWED_HOSTS_DJANGO=
PAYME_ID=
PAYME_KEY=
PAYME_KEY_TEST=
PAYME_ACCOUNT_FIELD=
PAYME_AMOUNT_FIELD=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
MONGO_URI=